.dashboard_image {
  width: 100%;
  height: 40vh;
}

.ant-skeleton, .ant-skeleton-image {
  width: 100% !important;
  height: 40vh !important;
}

.language_choice {
  margin-bottom: 3vh !important;
}

.project_title {
  margin-top: 2vh !important;
  margin-bottom: 0 !important;
}