.editor_progress {
  margin-top: 1vh !important;
  margin-bottom: 2vh !important;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bbox {
  border: 3px solid;
}

.bbox_text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: pre;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.editor_panel {
  position: sticky !important;
  top: 5vh;
}

.editor_col {
  height: auto;
}

.editor_header {
  z-index: 1;
}

.preview_sider {
  overflow-y: scroll;
  position: fixed !important;
  padding-top: 30px;

  height: 100vh !important;
  top: 0 !important;
}

.side_crop {
  max-height: 30vh;
  overflow: hidden;
}

.side_card {
  margin: 50px 20px !important;
}

.content_editor {
  margin-left: 1vw;
  margin-right: 1vw;
  overflow: visible !important;
}

.title {
  width: 100%;
}

.ant-modal-content {
  background: rgba(0, 0, 0, 0) !important;
  box-shadow: none !important;
}

@media (min-width: 1600px) {
  .content_editor {
    margin-left: 13vw;
  }
}

.ls-menu {
  position: sticky;
  top: 5vh;
}

.recognition_col {
  padding-left: 0 !important;
}

span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal.ant-tree-node-selected.draggable {
  background-color: transparent;
}

span.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal.draggable:hover {
  background-color: transparent;
}

.ant-progress-inner {
  width: 15vw !important;
  height: auto !important;
}

.ant-progress-inner .ant-progress-text {
  color: white !important;
}

.progress_cancel {
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.table_item {
  padding: 10px !important;
}

.bbox_sketch {
  position: absolute;
  top: 0;

  color: #ffa940;
  border: 3px solid;

  transform-origin: left;
}
