.login {
  text-align: center;
}

.login_logo {
  width: 300px !important;
  margin: 0 calc(50% - 150px) -75px;
}

.login_card .ant-card-body {
  padding-bottom: 0 !important;
}

.login_title {
  margin-bottom: 3vh !important;
}

.login_form {
  max-width: 300px;
  margin: 0 auto !important;
}

.login_form_forgot {
  float: right;
}

.ant_col_rtl .login_form_forgot {
  float: left;
}

.login_form_button {
  width: 100%;
}

.login_footer {
  position: fixed;
  text-align: center !important;
  bottom: 0;
  left: 0;
  right: 0;
}

.login_wrap {
  width: 100%;
}
